@import "tailwindcss";

:root {
    --textcolor: #e9e9ea;
    --background: black;
    --background1: linear-gradient(90deg, var(--color0dark1), var(--color0dark3), transparent 25% 75%, var(--color0dark3), var(--color0dark1)),
    radial-gradient(circle, transparent 55%, var(--color0dark3), var(--color0dark1));
    /*/ / --background: #171717;*/

    --color1: #1c398e;
    --color2: #85a0f1;
    --color3: #00b3ff;
    --color4: rgb(26, 31, 49);
    --color5: rgb(126, 47, 222);
    --color6: oklch(0.662 0.146 255.58);
    --color7: rgb(53, 222, 47);
    --color8: rgba(22, 168, 7);
    --color9: #0d5b06;
    --color10: #12276b;
    --color11: #172c79;
    --color12: #040f41;
    --color13: #233069FF;

    --color0dark1: rgba(0, 0, 0, .3);
    --color0dark2: rgba(0, 0, 0, .15);
    --color0dark3: rgba(0, 0, 0, .1);
    --color9dark1: rgba(13, 91, 6, .7);

    --color2light1: rgba(133, 160, 241, .15);
    --color2light2: rgba(133, 160, 241, .1);
    --color2light3: rgba(133, 160, 241, .05);
    --color3light1: rgba(0, 179, 255, .3);
    --color3light2: rgba(0, 179, 255, .1);
    --color3light3: rgba(0, 179, 255, .05);
    --color5light1: rgba(126, 47, 222, .1);
    --color5light2: rgba(126, 47, 222, .2);
    --color6light1: oklch(0.662 0.146 255.58 / 0.1);
    --color8light1: rgba(22, 168, 7, .5);


    --boxs1: 0 0 8px var(--color0dark3), 0 0 20px var(--color2light1) inset;
    --boxs2: 0 0 5px var(--color0dark3), 0 0 10px var(--color2light1) inset;
    --boxs3: 0 0 3px var(--color0dark3), 0 0 7px var(--color2light2) inset;
    --boxs4: 1px -1px 8px var(--color0dark2), -2px 2px 3px var(--color2light3) inset;
    --boxs5: 1px -1px 8px var(--color0dark3), -2px 2px 3px var(--color2light2) inset;
    --boxs6: 0 0 3px rgba(182, 0, 55, .3), 0 0 8px rgba(241, 112, 74, .1) inset;
    --boxs7: 0 0 7px rgba(182, 0, 55, .4), 0 0 12px rgba(241, 112, 74, .2) inset;
    --boxs8: 0 0 8px var(--color8light1), 0 0 12px var(--color9) inset;
    --boxs8-1: 0 0 12px var(--color9) inset;
    --boxs9: 2px 2px 4px 1px var(--color2light2) inset, -1px -1px 4px 1px var(--color0dark2) inset, 0 0 4px var(--color3light1);
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    color: var(--textcolor);
    background: var(--background);
    font-family: sans-serif;

    &:has(._animateHome) {
        animation: _home 2.5s ease-in-out 500ms;
    }
}

._background {
    @apply w-full h-full;
    z-index: -2;
    content: '';

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        background-color: var(--color1);
        border-radius: 4rem;
    }

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background: var(--background1);
        border-radius: 4rem;
    }
}

.containerer {
    @apply w-full px-[8.5%] lg:px-[9.5%];
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-center-col {
    @apply flex flex-col justify-center items-center;
}

.full {
    @apply w-full h-full;
}

.bg-test {
    @apply bg-white/5 [&_*]:bg-white/5;
}

.no-scroll {
    scrollbar-width: none;
}

.normal-link {
    @apply text-blue-300 hover:text-blue-300/70 transition-colors duration-200;
}

.required-field {
    animation: _required 3s ease-in-out infinite;
}

@keyframes _home {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes _home2 {
    from {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}

@keyframes _required {
    0% {
        box-shadow: var(--boxs7);
    }
    50% {
        box-shadow: var(--boxs3);
    }
    100% {
        box-shadow: var(--boxs7);
    }
}