@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

$ice1: #d9deec;
$ice2: #cad1e3;
$ice3: #a5b9d9;
$black1: #0A152DFF;
$blue1: #040f41;
$blue2: #13244b;
$blue3: #233069FF;
$blue4: #2b3d83;
$blue5: #30659a;
$blue6: #4488b9;
$y1: #f1eadd;
$y2: #f3d48a;
$y3: #c5a831;
$y4: #856f1a;
$y5: #3f3507;
$y6: #2c2405;
$y7: #1c1801;
$p0: #ebc0c2;
$p1: #f2a5a7;
$p2: #E86F98FF;
$p3: #EE5C87FF;
$p4: #ee5c87;
$s1: #ffe3e4;
$s2: #ffdedf;
$s3: #ffdedf;
$s3-1: #ffd9da;
$s4: #ffd9da;
$s5: #ffd6d8;
$s6: #ffd1d3;
$s6-1: #ffcdcf;
$s6-2: #ffcacc;
$s7: #ffbabc;
$s7-1: #ffbdbf;
$s7-2: #fab1b4;
$s8: #ffabae;
$s8-1: #ffabae;
$s9: #ffa6a9;
$s9-1: #f6888c;
$s9-2: #fd9699;
$s10: #eb9699;
$s10-1: #f6888c;
$s11: #ff9ea1;
$s11-1: #f57d81;
$s11-2: #f67a7e;
$s11-3: #f36a6f;
$s11-4: #e7666b;
$s12: #c4686b;
$s12-1: #cc6063;
$s12-2: #c25357;
$s13: #914a4d;
$s13-1: #9e4447;
$s14: #783a3c;
$s14-1: #612628;
$s15: #522325;
$s15-1: #4a1e20;
$s15-2: #4f0f11;
$s16: #331314;
$salmon1: #ffd0d0;
$salmon2: #fdaeae;
$salmon2-1: #fcbdbd;
$salmon2-2: #fdaeae;
$salmon3: #ff91a4;
$salmon3-1: #fda4a4;
$salmon4: #ff8f8f;
$salmon4-1: #ef7c7c;
$salmon4-2: #fd9d9d;
$salmon5: #ff7f8c;
$salmon6: #ff717a;
$salmon7: #f66c6c;
$salmon7-1: #fa5a5a;
$salmon7-2: #f16d7c;
$salmon8: #ff6367;
$salmon9: #ff5555;
$salmon9-1: #ff6262;
$salmon9-2: #ff6161;
$salmon10: #fb4e4e;
$salmon10-1: #ad3d3d;
$salmon11: #bb4857;
$salmon11-1: #d75c6b;
$salmon12: #8c2640;
$salmon13: #5e1b2c;
$salmon14: #49131c;
$neutral: #7f7f7f;


$grain: url("/assets/svg/grain.svg");
$background: linear-gradient(-12deg, $black1, $blue3) 100%;
$background1: linear-gradient(rgba($blue2, 1), rgba($blue2, .5), rgba($blue3, .2), transparent);
$background2: linear-gradient(0, rgba($y3, .7), $y4) 100%;
$background3: radial-gradient(#c79c2b, #86860a);
$background4: linear-gradient(-24deg, $salmon8, $salmon5);
$background5: linear-gradient($salmon4, $salmon4-1);
$background5-1: linear-gradient($s10, $s11);
$background6: radial-gradient($salmon6 32%, $salmon8 120%);
//$background7: linear-gradient(-24deg, $salmon2, $salmon1);
$background7: linear-gradient(-24deg, $s6-2, $s6-1);
$background8: linear-gradient(-24deg, $s5, $s2);
$backgroundProductList1: linear-gradient(rgba($s7, .3), transparent, rgba($s7, .3));
$backgroundProductList2: linear-gradient(rgba($s11-3, .1), transparent 40%, transparent 60%, rgba($s11, .1));
$backgroundProductList3: linear-gradient(90deg, rgba($salmon5, .2), transparent 10%, transparent 90%, rgba($salmon5, .2));
$backgroundProductList4: linear-gradient(90deg, rgba($s10, .3), transparent 15%, transparent 85%, rgba($s10, .3));
$backgroundProductList5: linear-gradient(rgba($s11-1, .5), rgba($s11, .6));
$backgroundProductList6: linear-gradient(rgba($s11-3, .6), rgba($s11-1, .5) 60%, rgba($s11, .5));
$backgroundProductList7: linear-gradient(transparent 5%, rgba($s7, .7), transparent 95%);
$backgroundHeader: linear-gradient(0, rgba($y3, 0), rgba($y3, .7) 7%, $y4) 100%;
$backgroundFooter: linear-gradient($y7, $y6) 100%;
$pastel1: radial-gradient(rgba(241, 164, 181, .7), rgba(243, 69, 121, 0.7)), $grain, radial-gradient(rgb(232, 111, 152), rgb(255, 0, 69));
$pastel2: radial-gradient(rgba(241, 164, 181, 1), rgba(238, 92, 135, 1));

$shadow: rgba($blue5, .5);
