@import "tailwindcss";

:root {
    --textcolor: #e9e9ea;
    --background: black;
    /*/ / --background: #171717;*/

    --color1: #1c398e;
    --color2: #85a0f1;
    --color3: #00b3ff;
    --color4: rgb(26, 31, 49);

    --color0dark1: rgba(0, 0, 0, .3);
    --color0dark2: rgba(0, 0, 0, .15);
    --color0dark3: rgba(0, 0, 0, .1);

    --color2light1: rgba(133, 160, 241, .15);
    --color2light2: rgba(133, 160, 241, .1);
    --color2light3: rgba(133, 160, 241, .05);
    --color3light1: rgba(0, 179, 255, 0.3);


    --boxs1: 0 0 8px var(--color0dark3), 0 0 20px var(--color2light1) inset;
    --boxs2: 0 0 5px var(--color0dark3), 0 0 10px var(--color2light1) inset;
    --boxs3: 0 0 3px var(--color0dark3), 0 0 7px var(--color2light2) inset;
    --boxs4: 1px -1px 8px var(--color0dark2), -2px 2px 3px var(--color2light3) inset;
    --boxs5: 1px -1px 8px var(--color0dark3), -2px 2px 3px var(--color2light2) inset;
    --boxs6: 0 0 3px rgba(182, 0, 55, 0.3), 0 0 8px rgba(241, 112, 74, 0.1) inset;
    --boxs7: 0 0 7px rgba(182, 0, 55, 0.4), 0 0 12px rgba(241, 112, 74, 0.2) inset;
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    color: var(--textcolor);
    background: var(--background);
    font-family: sans-serif;

    &:has(._animateHome) {
        animation: _home 2.5s ease-in-out 500ms;
    }
}

._background {
    @apply w-full h-full;
    z-index: -2;
    content: '';

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        background-color: var(--color1);
        border-radius: 4rem;
    }

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background: linear-gradient(90deg, var(--color0dark1), var(--color0dark3), transparent 25% 75%, var(--color0dark3), var(--color0dark1)),
        radial-gradient(circle, transparent 55%, var(--color0dark3), var(--color0dark1));
        border-radius: 4rem;
    }
}

.containerer {
    @apply w-full px-[8.5%] lg:px-[9.5%];
}

.flex-center {
    @apply flex justify-center items-center;
}

.full {
    @apply w-full h-full;
}

.bg-test {
    @apply bg-white/5 [&_*]:bg-white/5;
}

.no-scroll {
    scrollbar-width: none;
}

@keyframes _home {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes _home2 {
    from {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}