@import "tailwindcss";

._header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 6.5rem;
  min-height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: linear-gradient(to bottom, var(--color0dark2), transparent 70%);
  border-radius: 0 0 30% 30%;

  ._logo {
    //@apply w-[10rem] md:w-[13rem];
    //width: 13rem;
    color: var(--color2);
    margin: 0;
  }

  ._search {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    padding: 0 3rem;
    margin-top: .5rem;
    position: relative;
    height: 1.5rem;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    color: var(--color4);

    &:hover {
      opacity: .7;
    }

    &:has(label :focus) {
      opacity: .9;
    }

    &:has(._search-img:hover) {
      opacity: .9;

      input {
        border: solid var(--color2) 1px;
        border-radius: .5rem;
        transition: all .3s ease-in-out;
      }

      ._search-img {
        background-color: var(--color2);
        min-width: 2.5rem;
        transition: all .3s ease-in-out;

        img {
          opacity: 1;
          transition: opacity .7s ease-in-out;
          pointer-events: none;
        }
      }
    }

    label {
      width: 50%;
      max-width: 25rem;
      border-radius: 1rem 0 0 1rem;
      overflow: hidden;
      background-color: var(--color2);

      & > input {
        width: 100%;
        height: 100%;
        padding: 0 1.8rem 0 .5rem;
        background-color: whitesmoke;
        border: solid lightgrey 1px;
        text-overflow: ellipsis;
        transition: all .2s ease-in-out;
        outline: none;
      }
    }

    ._search-img {
      background-color: lightgrey;
      min-width: 2rem;
      height: 100%;
      border-radius: 0 1rem 1rem 0;
      transition: background-color .2s ease-in-out;

      & img {
        opacity: .7;
        margin-bottom: 2px;
        margin-right: .3rem;
        width: 1.2rem;
        aspect-ratio: 1/1;
        transition: opacity .5s ease-in-out;
      }
    }
  }

  ._nav {
    position: relative;
    width: 14rem;
    gap: 2rem;
    display: flex;
    justify-content: end;
    color: var(--color2);
    padding: 0;

    & li {
      &:last-child {
        width: 5rem;
      }

      width: 7rem;
      text-align: center;
      position: relative;

      &:hover {
        border-radius: solid 1rem var(--color0dark3);
      }

      &:has(p:hover, ._drop:hover) {
        p {
          border-width: 1px;
          font-weight: 750;
          font-size: 1rem;
          box-shadow: var(--boxs2);
          backdrop-filter: blur(10px);
        }

        ._drop {
          opacity: 1;
          pointer-events: auto;
          backdrop-filter: blur(10px);
        }
      }

      & > a, & > p {
        border: solid 0 var(--color0dark3);
        padding: .4rem .8rem;
        border-radius: 2rem;
      }

      & > a:hover {
        border-width: 1px;
        box-shadow: var(--boxs2);
        backdrop-filter: blur(10px);
      }


      p {
        border-radius: 1.2rem 1.2rem 0 0;
        cursor: default;
      }

      & > a, p {
        margin: 0;
        transition: all .2s;
        font-size: .95rem;

        &:hover {
          font-weight: 750;
          font-size: 1rem;
        }
      }

      ._drop {
        position: absolute;
        top: 96%;
        width: 8.5rem;
        flex-direction: column;
        border-radius: 1rem;
        border: solid 1px var(--color0dark3);
        box-shadow: var(--boxs1), 0 0 0 40px var(--color0dark3) inset;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease-out;

        & > a {
          width: 100%;
          height: 2.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding-bottom: .1rem;
          transition: all .3s ease-out;

          &:hover {
            z-index: 1;
            //font-weight: 750;
            box-shadow: var(--boxs3);
          }
        }

        & :first-child {
          border-bottom: solid 1px var(--color0dark3);
          border-radius: 1rem 1rem 0 0;
        }

        & :last-child {
          border-radius: 0 0 1rem 1rem;
        }
      }
    }

    @media (max-width: 768px) {
      width: 14rem;

      ._port {
        width: 200%;
      }
    }
  }
}