@import "tailwindcss";

._home {
  ._text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px white;
  }

  ._text2 {
    -webkit-text-fill-color: var(--color3light3);
    -webkit-text-stroke: 1px rgba(255, 255, 255, .95);
  }
}

._login {
  ._card {
    background-color: var(--color1);
    box-shadow: var(--boxs1);

    a {
      @apply text-blue-200/80 hover:text-blue-200;
      transition: color .1s ease-in-out;
      filter: drop-shadow(0 0 3px var(--color0dark2));
    }

    ._register-link {
      transition: translate .2s ease-in-out, color .1s ease-in-out;

      &:hover {
        transition: translate .5s ease-in-out, color .1s ease-in-out;
      }
    }

    ._form {
      label {
        p {
          @apply text-sm ps-2;
        }

        input {
          @apply bg-blue-200/10 px-2 py-1 text-ellipsis focus:outline-none focus:bg-blue-300/15 rounded-lg;
        }
      }
    }
  }
}

@keyframes bounceTec {
  0% {
    width: 0;
  }
  60% {
    width: 7.4rem;
  }
  80% {
    width: 6.7rem;
  }
  100% {
    width: 7rem;
  }
}